<div>
  <input type="checkbox" <%= 'checked' if task.completed %> value="<%= task.id %>" />
  <i><%= task.description %></i>
  <%= link_to 'Edit', edit_task_path(task) %>
  <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>