<h1>Your todos for today, <%= Date.today.strftime('%A %B %e') %></h1>
<% @tasks.each do |task| %>
  <div>
    <span><%= task.description %></span>
    <span><%= task.completed %></span>
    <span><%= link_to 'Edit', edit_task_path(task) %></span>
    <span><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>

<h2>Add todo:</h2>
<%= render :partial => "form" %>
